.contDescript {
    display: flex; /* Usamos flexbox para crear la divisi칩n en columnas */
    width: 100%;
    max-width: 1200px; 
    min-width: 600px;
    margin: 20px auto;
    padding: 10 px;
    background-color: #fff;
    border: 2px solid transparent; 
    padding: 0px;
}

.board {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.columna {
    display: flex; /* Usamos flexbox para crear la divisi칩n en columnas */
    background-color: gray;
    border-radius: 10px;
    padding: 10px; /* A침adimos un poco de espacio alrededor del contenido */
    box-sizing: border-box; /* Incluimos el padding en el c치lculo del ancho */
    justify-content: center;
    align-items: center;
}

#imageMUL {

    height: 613px; 
    width: 115px;
}

#contDinamic {
    border: 2px solid transparent;
    width: 100%;
    max-width: 1200px;
    top: 0px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    text-align: center;    
    background-color: #f4f7a0;
    border: 2px solid black;
    border-radius: 10px;
}

.caja {
    line-height: 1.5;
    font-family: comic sans-serif;
    font-weight: bold;
    font-size: 20px; 
    font-style: italic;
    width: 80%;
    display: inline-block;
    text-align: center;
    padding: 20px;

}

.ptexDesc {
    line-height: 2;
    font-size: 18px; 
    text-align: justify;
    margin: 20px;
    padding: 0px;

}


#anterior, #siguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--button-free);
    border-radius: 10px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    cursor: pointer; 
}

#anterior:hover, #siguiente:hover {

    font-size: 20px; 
    text-decoration: underline;
    background-color:  var(--button-over);
    border: 4px solid black;
}

.directionImg {
    height: 40px;
    width: 100%;
}

#anterior {
    left: 0;
}

#siguiente {
    right: 0;
}