#footerCont {
    color: white;
    min-width: 600px; 
    width: 100%; 
    background-color: black;
}

.contFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    margin: 20px auto; /* Espacio entre los divs */
    text-align: center;
    overflow: auto; /* Para contener los botones flotantes */
}

.contenBotton {
    width: 25%;
    background-color: transparent;
    border: none;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block; /* Cambiado de float a display */
}

@media screen and (max-width: 1000px) {
    .contenBotton {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .contenBotton {
        width: 100%;
    }
}

.imgFooter {
    height: 50px;
    text-align: center;
    font-size: 12px;
    margin: 20px auto;
    
}

.textButFoot{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    margin: -10px;
}