.popupWrapper {
    position: relative;
    }

.popup-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid black;
    top: calc(100%);
    left: calc(50%);
    }

.popup-arrow-up1, .popup-arrow-up2 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid black;
    top: calc(0% - 50px);
    }

.popup-arrow-up1 {
    left: calc(60%);
}

.popup-arrow-up2 {
    left: calc(70%);
}

.popup {
    font-family: comic sans-serif;
    position: relative;
    width: 30%; 
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: -15px -10px 8px ;
    display: block;
    float: left;
    z-index: 999;
    }
    
.popup-up {
    font-family: comic sans-serif;
    position: relative;
    width: 30%; 
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: -15px 10px 8px ;
    display: block;
    z-index: 999;
    }

.close-btn {
    position: absolute;
    font-weight: bold;
    font-size: 16px; 
    top: calc(10% );
    right: calc(10% );
    cursor: pointer;
    }

    .buttCloPopup {
        display: none;
        text-align: center;
        height: 30px;
        width: 30px;
        float: right; 
    
        border-radius: 20px; 
        transition: all 0.3s;
        cursor: pointer; 
        display: block;
        z-index: 999; 
    }
    
    .buttCloPopup:hover{
        transform: scale(1.1);
        font-size: 20px; 
        text-decoration: underline;
        background-color:  var(--button-over);
        border: 4px solid black;
    }